{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="page-header">
        {% if From == 'Inner' %}
            <h1>内网IP修改</h1>
        {% elif From == 'Outer' %}
            <h1>外网IP修改</h1>
        {% endif %}
    </div>
     {% if From == 'Inner' %}
    <div class="col-md-8 col-md-offset-2">
        <form action="/updateInnerIP/" method="post">
            {% csrf_token %}
            {% bootstrap_field InnerIPForm.Cabinet_id set_readonly="readonly" layout="inline" %}
            {% bootstrap_field InnerIPForm.Inner_IP_address set_readonly="readonly" layout="inline" %}
            {% bootstrap_field InnerIPForm.Using_condition layout="inline" %}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
    <script type="text/javascript">
        var Cabinet_id = "{{ InnerIP.Cabinet_id }}";
        var Inner_IP_address = "{{ InnerIP.Inner_IP_address }}";
        var Using_condition = "{{ InnerIP.Using_condition }}";
        $("#id_Cabinet_id").val(Cabinet_id);
        $("#id_Inner_IP_address").val(Inner_IP_address);
        $("#id_Using_condition").val(Using_condition);
    </script>
    {% elif From == 'Outer' %}
         <div class="col-md-8 col-md-offset-2">
        <form action="/updateOuterIP/" method="post">
            {% csrf_token %}
            {% bootstrap_field OuterIPForm.Cabinet_id set_readonly="readonly" layout="inline" %}
            {% bootstrap_field OuterIPForm.Outer_IP_address set_readonly="readonly" layout="inline" %}
            {% bootstrap_field OuterIPForm.Using_condition layout="inline" %}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
    <script type="text/javascript">
        var Cabinet_id = "{{ OuterIP.Cabinet_id }}";
        var Outer_IP_address = "{{ OuterIP.Outer_IP_address }}";
        var Using_condition = "{{ OuterIP.Using_condition }}";
        $("#id_Cabinet_id").val(Cabinet_id);
        $("#id_Outer_IP_address").val(Outer_IP_address);
        $("#id_Using_condition").val(Using_condition);
    </script>
    {% endif %}
{% endblock %}